@import "base";

.Actions {
  display: flex;
  list-style-type: none;
  margin: 0 -75px;
  padding: 0;
  position: relative;
  margin-bottom: 90px;

  @media (max-width: 425px) {
    transform: scale(0.8);
  }
}

.Action {
  flex: 1;

  & svg {
    fill: var(--red);
    @util size(48px);
  }

  & a {
    display: block;
  }
}

.Description {
  display: block;
  width: 120px;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
  font-family: Bakersfield;

  @media (max-width: 768px) {
    width: 80px;
  }

  @media (max-width: 425px) {
    width: 40px;
  }
}
